 /* #region ---------------------Tag Selector-------------------------------*/

 body {
     background-color: #DBCBD8;
     margin: 0;
     font-family: 'Roboto', sans-serif;
 }

 div {
     background-color: #e2ffffed;
     padding-left: 20px;
     padding-bottom: 10px;
     padding-top: 10px;
 }

 h1 {
     color: black;
 }

 h3 {

     color: black;

 }

 h4 {
     margin: none;
 }

 hr {
     border-style: none;
     border-bottom-style: dotted;
     border-width: 6px;
     border-color: grey;
     width: 3%;
     margin-bottom: 0;
 }



 /* #region  a<> link style */

 a {
     color: rgb(0, 217, 255);
 }

 /* Unvisited link */
 a:visited {
     color: rgb(0, 217, 255);
 }

 /* Visited link */
 a:hover {
     color: gold;
 }

 /* Mouse over link */
 a:active {
     color: rgb(214, 183, 4);
 }

 a:link {
     text-decoration: none;
 }



 /* Selected link */

 /* #endregion */



 /* #endregion */

 /* #region ----------------------Class Selector ---------------------------*/
 .divProfile {
     background-color: #394648;
     position: relative;
 }

 .profileTable {
     margin-left: 27%;
 }

 .profileText {
     color: white;
 }

 .profileBold {
     color: #6cc0d1;
 }

 .divAbout {
     background-color: #cae7b9;
     position: relative;
 }

 .link-background {
     background-color: black;
     border-radius: 6px;
     padding-left: 5px;
     padding-right: 5px;
     padding-top: 3px;
     padding-bottom: 3px;
 }




 /* #endregion */

 /* #region ----------------------ID Selector ---------------------------*/

 #alias {

     color: white;
 }

 #top-cloud {
     position: absolute;
     left: 50px;
 }

 #bottom-cloud {
     position: absolute;
     right: 50px;
     bottom: 0px;
 }



 /* #endregion */