 /* #region ---------------------Tag Selector-------------------------------*/

 body {
     background-color: #FFE0FF;
     margin: 0;
     font-family: 'Roboto', sans-serif;
 }

 div {
     padding-left: 20px;
     padding-bottom: 10px;
     padding-top: 10px;
 }

 h1 {
     color: black;
 }

 h3 {

     color: black;

 }

 h4 {
     text-align: center;
 }

 hr {
     border-style: none;
     border-bottom-style: dotted;
     border-width: 6px;
     border-color: grey;
     width: 5%;
     margin-bottom: 0;
 }


 /* #region  a<> link style */

 a {
     color: rgb(0, 217, 255);
 }

 /* Unvisited link */
 a:visited {
     color: rgb(0, 217, 255);
 }

 /* Visited link */
 a:hover {
     color: gold;
 }

 /* Mouse over link */
 a:active {
     color: rgb(214, 183, 4);
 }

 a:link {
     text-decoration: none;
 }



 /* Selected link */

 /* #endregion */



 /* #endregion */

 /* #region ----------------------Class Selector ---------------------------*/

 .center-div {
     width: 45%;
     margin: auto;
 }

 .div-profile-background {
     background-color: #394648;
     position: relative;
 }

 .div-about-background {
     background-color: #cae7b9;
     position: relative;
 }

 .div-panel {
     margin-top: 20px;
     margin-bottom: 20px;
     background-color: white;
     border-radius: 20px;
 }


 .profile-text {
     color: white;

 }

 .profile-bold {
     color: #6cc0d1;
 }


 .link-background {
     background-color: black;
     border-radius: 6px;
     padding-left: 5px;
     padding-right: 3px;
     padding-top: 1px;
     padding-bottom: 1px;
 }




 /* #endregion */

 /* #region ----------------------ID Selector ---------------------------*/

 #alias {

     color: white;

 }

 #top-cloud {
     position: absolute;
     left: 50px;
 }

 #bottom-cloud {
     position: absolute;
     right: 50px;
     bottom: 0px;
 }



 /* #endregion */